<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>271215936202-k9o6gcm2q397o32ivsuqvt5rn2c8f882.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.271215936202-k9o6gcm2q397o32ivsuqvt5rn2c8f882</string>
	<key>API_KEY</key>
	<string>AIzaSyCgHUwdEFb_2w7SBc7B4XIc4aJE3GD4Z7s</string>
	<key>GCM_SENDER_ID</key>
	<string>271215936202</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fitlife</string>
	<key>PROJECT_ID</key>
	<string>fitlife-b8a73</string>
	<key>STORAGE_BUCKET</key>
	<string>fitlife-b8a73.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:271215936202:ios:132910f45418624d7faa33</string>
</dict>
</plist>